# Pandas â€” Exercises

In [1]:
# --- Setup ---
import pandas as pd
import numpy as np

pd.set_option("display.float_format", lambda x: f"{x:.4f}")
np.random.seed(42)

data = {
    "quarter": ["Q1", "Q2", "Q3", "Q4", "Q5"],
    "sales":   [1200, 1350, 1280, 1600, 1700],
    "expenses":[ 800,  900,  850, 1000, 1100],
}
df = pd.DataFrame(data)
df

  quarter  sales  expenses
0      Q1   1200       800
1      Q2   1350       900
2      Q3   1280       850
3      Q4   1600      1000
4      Q5   1700      1100

## 1) Create a Series

**Task:** Create a `pd.Series` of return with the index as company names.  
Then display it.

Data :
- Apple : 1.4%
- Microsoft: 1.1%
- META: 3.8%
- NVIDIA : -0.5%

## 2) Add a column

**Task:** Add a new column `profit = sales - expenses` to `df`.

## 3) Retrieve values with `.loc` and `.iloc`

**Task:**  
- Get the `sales` value on the third row using both **`.loc`** and **`.iloc`**.  
> Remember: with the default integer index, `.loc[2]` and `.iloc[2]` both refer to the third row, but `.loc` uses **labels** and `.iloc` uses **positions**.

## 4) Print a given column or row

**Task:**  
- Print the `sales` column.  
- Print the entire third row.

## 5) Change index and column names

**Tasks:**  
1. Set `quarter` as the index and name the index `"Quarter"`.  
2. Rename column `sales` to `revenue`.  
3. Optionally, rename one index label (e.g., `Q1` to `FY25-Q1`).

## 6) Drop a column and a row

**Tasks:**  
- Drop the `expenses` column.  
- Drop the row with index label `Q3` (or the renamed equivalent).

## 7) Descriptive statistics & correlations

**Tasks:** On **numeric columns** (`revenue`, `expenses`, `profit`), compute:
- `.mean()`, `.median()`, `.std()`, `.var()`
- `.min()`, `.max()`, `.count()`
- `.corr()` and `.cov()` (pairwise)
- `.pct_change()` on `revenue`

> Note: The correct method name is `pct_change()` (with an underscore).