# Pandas â€” Exercises

In [60]:
# --- Setup ---
import pandas as pd
import numpy as np

pd.set_option("display.float_format", lambda x: f"{x:.4f}")
np.random.seed(42)

data = {
    "quarter": ["Q1", "Q2", "Q3", "Q4", "Q5"],
    "sales":   [1200, 1350, 1280, 1600, 1700],
    "expenses":[ 800,  900,  850, 1000, 1100],
}
df = pd.DataFrame(data)
df

  quarter  sales  expenses
0      Q1   1200       800
1      Q2   1350       900
2      Q3   1280       850
3      Q4   1600      1000
4      Q5   1700      1100

## 1) Create a Series

**Task:** Create a `pd.Series` of return with the index as company names.  
Then display it.

Data :
- Apple : 1.4%
- Microsoft: 1.1%
- META: 3.8%
- NVIDIA : -0.5%

In [61]:
series = pd.Series({'Apple' : 0.014, 'Microsoft': 0.011, 'META': 0.038, 'NVIDIA' : -0.005})
print(series)

Apple        0.0140
Microsoft    0.0110
META         0.0380
NVIDIA      -0.0050
dtype: float64

## 2) Add a column

**Task:** Add a new column `profit = sales - expenses` to `df`.

In [62]:
df['profit'] = df['sales'] - df['expenses']
df.assign(profit_2=lambda x : x.sales - x.expenses)

  quarter  sales  expenses  profit  profit_2
0      Q1   1200       800     400       400
1      Q2   1350       900     450       450
2      Q3   1280       850     430       430
3      Q4   1600      1000     600       600
4      Q5   1700      1100     600       600

## 3) Retrieve values with `.loc` and `.iloc`

**Task:**  
- Get the `sales` value on the third row using both **`.loc`** and **`.iloc`**.  
> Remember: with the default integer index, `.loc[2]` and `.iloc[2]` both refer to the third row, but `.loc` uses **labels** and `.iloc` uses **positions**.

In [63]:
print(f"using loc: {df.loc[2,["sales"]]}")
print(f"using loc: {df.iloc[2,[1]]}")
print(f"using iloc, alternative version: {df.iloc[2,1]}")

using loc: sales    1280
Name: 2, dtype: object
using loc: sales    1280
Name: 2, dtype: object
using iloc, alternative version: 1280

## 4) Print a given column or row

**Task:**  
- Print the `sales` column.  
- Print the entire third row.

In [64]:
print(f"sales columuns: {df["sales"]}")
print(f"third rows: {df.iloc[2]}")

sales columuns: 0    1200
1    1350
2    1280
3    1600
4    1700
Name: sales, dtype: int64
third rows: quarter       Q3
sales       1280
expenses     850
profit       430
Name: 2, dtype: object

## 5) Change index and column names

**Tasks:**  
1. Set `quarter` as the index and name the index `"Quarter"`.  
2. Rename column `sales` to `revenue`.  
3. Optionally, rename one index label (e.g., `Q1` to `FY25-Q1`).

In [65]:
df_alternative_example = df.copy()

df.rename(columns={"quarter":"Quarter"}, inplace=True)
df.set_index("Quarter", inplace=True)
print(f"df: {df}")

df_alternative_example.set_index("quarter", inplace=True)
df_alternative_example.index.name = "Quarter"
print(f"df_alternative_example: {df_alternative_example}")

df:          sales  expenses  profit
Quarter
Q1        1200       800     400
Q2        1350       900     450
Q3        1280       850     430
Q4        1600      1000     600
Q5        1700      1100     600
df_alternative_example:          sales  expenses  profit
Quarter
Q1        1200       800     400
Q2        1350       900     450
Q3        1280       850     430
Q4        1600      1000     600
Q5        1700      1100     600

## 6) Drop a column and a row

**Tasks:**  
- Drop the `expenses` column.  
- Drop the row with index label `Q3` (or the renamed equivalent).

In [66]:
df_alternative_example = df.copy()

df = df.drop(["expenses"], axis=1)
print(f"df after droping expense:")
print(df)
print("")
df_alternative_example.drop(["expenses"], axis=1, inplace=True)
print(f"df_alternative_example after droping expense:") #using inplace allows us to not reassign the df value
print(df_alternative_example)

df after droping expense:
         sales  profit
Quarter
Q1        1200     400
Q2        1350     450
Q3        1280     430
Q4        1600     600
Q5        1700     600

df_alternative_example after droping expense:
         sales  profit
Quarter
Q1        1200     400
Q2        1350     450
Q3        1280     430
Q4        1600     600
Q5        1700     600

In [67]:
df_alternative_example = df.copy()

df = df.drop(["Q3"], axis=0)
print(f"df after droping expense:")
print(df)
print("")
df_alternative_example.drop(["Q3"], axis=0, inplace=True)
print(f"df_alternative_example after droping expense:") #using inplace allows us to not reassign the df value
print(df_alternative_example)

df after droping expense:
         sales  profit
Quarter
Q1        1200     400
Q2        1350     450
Q4        1600     600
Q5        1700     600

df_alternative_example after droping expense:
         sales  profit
Quarter
Q1        1200     400
Q2        1350     450
Q4        1600     600
Q5        1700     600

## 7) Descriptive statistics & correlations

**Tasks:** On **numeric columns** (`revenue`, `expenses`, `profit`), compute:
- `.mean()`, `.median()`, `.std()`, `.var()`
- `.min()`, `.max()`, `.count()`
- `.corr()` and `.cov()` (pairwise)
- `.pct_change()` on `revenue`

> Note: The correct method name is `pct_change()` (with an underscore).

In [74]:
data = {
    "quarter": ["Q1", "Q2", "Q3", "Q4", "Q5"],
    "revenue":   [1200, 1350, 1280, 1600, 1700],
    "expenses":[ 800,  900,  850, 1000, 1100],
}
df = pd.DataFrame(data)
df['profit'] = df['revenue'] - df['expenses']
cols = ['revenue', 'expenses', 'profit']

print("mean")
print(df[cols].mean())
print("")
print("median")
print(df[cols].median())
print("")
print("std")
print(df[cols].std())
print("")
print("var")
print(df[cols].var())
print("")
print("corr")
print(df[cols].corr())
print("")
print("cov")
print(df[cols].cov())
print("")
print("pct change")
df['revenue_pct_change'] = df['revenue'].pct_change()
print(df['revenue_pct_change'])

mean
revenue    1426.0000
expenses    930.0000
profit      496.0000
dtype: float64

median
revenue    1350.0000
expenses    900.0000
profit      450.0000
dtype: float64

std
revenue    214.1962
expenses   120.4159
profit      96.5919
dtype: float64

var
revenue    45880.0000
expenses   14500.0000
profit      9330.0000
dtype: float64

corr
          revenue  expenses  profit
revenue    1.0000    0.9896  0.9838
expenses   0.9896    1.0000  0.9479
profit     0.9838    0.9479  1.0000

cov
            revenue   expenses     profit
revenue  45880.0000 25525.0000 20355.0000
expenses 25525.0000 14500.0000 11025.0000
profit   20355.0000 11025.0000  9330.0000

pct change
0       NaN
1    0.1250
2   -0.0519
3    0.2500
4    0.0625
Name: revenue_pct_change, dtype: float64